<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family:creepster, sans-serif">AJ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#c1">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#c2">Gallery</a>
        </li>
        <li class="nav-item dropdown navbar-dark shadow-5-strong">
          <a class="nav-link dropdown-toggle navbar-dark shadow-5-strong" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.instagram.com/ajaybiswas5872018/">Instagram</a></li>
            <li><a class="dropdown-item" href="https://www.facebook.com/people/Ajay-Biswas/100074748354912/">Facebook</a></li>
            <li><a class="dropdown-item" href="https://github.com/BlueSquare4">Github</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/ajay-biswas-8b0832237/">linkedin</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCiJ-HcbSkilzXHUtthLLOew/featured">Youtube</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
